*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    width: 100%;
    height: 250px;

    background: #294C71 url(../img/imagens/fundo.png) repeat-x bottom;

}

/* Navegação Superior da página */

header img {
    margin-top: 20px;
}

.menu-off {
    width: 55%;
    height: 220px;
    /* box-sizing: content-box; */

    margin: 0 auto;
    padding: 10px 0;

    background: url(../img/imagens/detalhe-topo.png) no-repeat top right;
}

nav {
    margin-top: 20px;

    width: 100%;
    height: 50px;
}

nav .menu li {
    height: 50px;

    float: left;

    background: #b0002e;
    
    padding: 0 25px;
}

nav ul.menu li:not(:first-child) {
    border-left: 1px #5e1125 dashed;
}

.menu a {
    font-size: 1.2em;
    color: white;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu li:hover {
    background: rgb(255, 28, 28);
}

nav .menu-off img {
    position: relative;

    float: left;
}

/* Seção de conteudo da pagina */

div.content {
    border: 1px solid red;

    width: 60%;
    height: 100%;

    margin: 10px auto 0;

    display: flex;

    justify-content: space-between;
}

/* seção Lateral da page */

div.content aside {
    width: 25%;

    margin-right: 10px;
}

div.content aside .section-lado {
    height: 464px;
    margin-bottom: 15px;

    background: url(../img/imagens/fundo-caixa.png);
}

div.content aside .section-lado#form-news{
    height: 189px;
}

div.content aside h3,
div.content article h3 {
    color: white;
    font-size: 1.5em;
    line-height: 30px;

    margin: 5px;
    padding: 7px;

    background: #294C71;
}

div.content aside ul{
    margin: 10px;

    background: white;
}

div.content aside li {
    padding: 15px;

    font-size: 1.1em;
}

div.content aside li:hover {
    color: gray;
    list-style-image: url(../img/imagens/marcador.png);
    list-style-position: inside;
}

div.content aside form {
    font-size: 1.2em;

    margin: 10px;
    padding: 5px 15px 5px 5px;

    background: white;
}

div.content aside form p{
    margin: 5px;
}

div.content aside input {
    width: 100%;
    margin: 5px;

    font-size: 1em;
}

div.content aside button {
    padding: 5px;
    margin: 5px;

    font-size: 1em;
    color: white;

    background: rgb(156, 2, 2);
}

div.content aside button:hover {
    background: red;
}

/* Seção para postagens */

div.post-section {
    width: 75%;
    
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 50% 50%;
    border: 1px solid red;

}

/* Postagens */

article.post,
article.flash-news {
    margin: 5px;
    padding: 10px;
    
    background: url(../img/imagens/fundo-caixa.png);  

    box-sizing: content-box;
}

#starred h4 {
    color: white;
    letter-spacing: 0;
}

article.post div,
article.flash-news div {
    background: white;
    padding: 5px;
}

.post h4 {
    padding: 5px;
    margin: 5px;

    background: red;

    font-size: 1.1em;
    letter-spacing: -1px;

    display: inline;
}

article.post img {
    width: 100%;
    padding: 10px;
}

article.post a {
    text-decoration: underline;
    color: rgb(204, 0, 0);
}

/* Quadro de notícias */

article.flash-news div.news {
    padding: 10px;
    border-top: 1px solid lightgray;
    /* border: 1px solid red; */
    display: flex;
}

article.flash-news div.news h4{
    color: rgb(79, 161, 172);
}

article.flash-news img {
    width: 35%;
}