*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    width: 100%;
    height: 250px;

    background: #294C71 url(../img/imagens/fundo.png) repeat-x bottom;

}

/* Navegação Superior da página */

header img {
    margin-top: 20px;
}

.menu-off {
    width: 55%;
    height: 220px;
    /* box-sizing: content-box; */

    margin: 0 auto;
    padding: 10px 0;

    background: url(../img/imagens/detalhe-topo.png) no-repeat top right;
}

nav {
    margin-top: 20px;

    width: 100%;
    height: 50px;
}

nav .menu li {
    height: 50px;

    float: left;

    background: #b0002e;
    
    padding: 0 25px;
}

body#home nav li.home,
body#brasil nav li.brasil,
body#internacional nav li.internacional,
body#economia nav li.economia,
body#saude nav li.saude,
body#ciencia nav li.ciencia,
body#fotos nav li.fotos {
    background: rgb(255, 28, 28);
}

nav ul.menu li:not(:first-child) {
    border-left: 1px #5e1125 dashed;
}

.menu a {
    font-size: 1.2em;
    color: white;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu li:hover {
    background: rgb(255, 28, 28);
}

nav .menu-off img {
    position: relative;

    float: left;
}

/* Seção de conteudo da pagina */

div.content {
    width: 60%;

    margin: 10px auto 0;

    display: flex;

    justify-content: space-between;
}

/* seção Lateral da page */

div.content aside {
    width: 25%;

    margin-right: 10px;
}

div.content aside .section-lado {
    height: 484px;
    margin-bottom: 15px;
    padding: 10px;

    background: url(../img/imagens/fundo-caixa.png);
}

div.content aside .section-lado#form-news{
    height: 209px;
}

div.content aside h3,
div.content article h3 {
    color: white;
    font-size: 1.5em;
    line-height: 30px;

    padding: 7px;

    background: #294C71;
}

div.content aside ul{
    margin: 10px;

    background: white;
}

div.content aside li {
    padding: 15px;

    font-size: 1.1em;
}

div.content aside li:hover {
    color: gray;
    list-style-image: url(../img/imagens/marcador.png);
    list-style-position: inside;
}

div.content aside form {
    font-size: 1.2em;

    margin: 10px;
    padding: 5px 15px 5px 5px;

    background: white;
}

div.content aside form p{
    margin: 5px;
}

div.content aside input {
    width: 100%;
    margin: 5px;

    font-size: 1em;
}

div.content aside button {
    padding: 5px;
    margin: 5px;

    font-size: 1em;
    color: white;

    background: rgb(156, 2, 2);
}

div.content aside button:hover {
    background: red;
}

/* Seção para postagens */

div.post-section {
    width: 75%;
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

body.page-news div.post-section {
    display: flex;
    flex-direction: column;
}

body.gallery div.post-section {
    width: 75%;
    
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
}

/* Postagens */

article.post,
article.flash-news {
    margin: 0 5px 10px;
    padding: 10px;
    
    background: url(../img/imagens/fundo-caixa.png);  

    box-sizing: content-box;
}

article.post div,
article.flash-news div {
    background: white;
    padding: 10px;
}

.post h4 {
    padding: 5px;
    margin: 5px;

    background: red;

    font-size: 1.1em;
    color: white;
    letter-spacing: 0;

    display: inline;
}

article.post img {
    width: 100%;
    padding: 10px;
}

body.gallery div.post-section img {
    width: 90%;
    margin: auto;
}

body.gallery div.post-section img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

article.post a {
    text-decoration: underline;
    color: rgb(204, 0, 0);
}

/* Quadro de notícias */

article.flash-news div.news {
    padding: 10px;
    border-top: 1px solid lightgray;
    /* border: 1px solid red; */
    display: flex;
}

body.page-news article.flash-news div.news {
    height: 30%;
    
    font-size: 1em;

}

body.page-news article.flash-news div.news img{
    width: 20%;
}

article.flash-news div.news h4{
    color: rgb(79, 161, 172);
    font-size: 1.3em;
}

article.flash-news img {
    width: 35%;
}

/* footer para Créditos */

footer {
    width: 100%;
    padding: 10px;
    
    display: flex;
    justify-content: center;

    background: cornflowerblue;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}